#
# Copyright(c) 2021 ADLINK Technology Limited and others
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v. 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Eclipse Distribution License
# v. 1.0 which is available at
# http://www.eclipse.org/org/documents/edl-v10.php.
#
# SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause
#

trigger: [ '*' ]
pr: [ '*' ]

strategy:
  matrix:
    'Ubuntu 20.04 LTS with GCC 10 (Debug, x86_64)':
      image: ubuntu-20.04
      analyzer: on
      # not enabling "undefined" because of some false positives
      sanitizer: address
      cc: gcc-10
    'Ubuntu 20.04 LTS with GCC 10 (Debug, x86_64, Iceoryx)':
      image: ubuntu-20.04
      #analyzer: on  # disabled for now because of warnings
      sanitizer: address,undefined
      iceoryx: on
      cc: gcc-10
    'Ubuntu 20.04 LTS with GCC 10 (Release, x86_64)':
      image: ubuntu-20.04
      build_type: Release
      sanitizer: undefined
      cc: gcc-10
    'Ubuntu 20.04 LTS with GCC 10 (Debug, x86_64, security only)':
      image: ubuntu-20.04
      sanitizer: address,undefined
      ssl: off
      lifespan: off
      deadline: off
      type_discovery: off
      topic_discovery: off
      idlc_testing: off # temporary dislabled because of passing -t option to idlc in this test for recursive types
      cc: gcc-10
    'Ubuntu 18.04 LTS with GCC 7 (Debug, x86_64)':
      image: ubuntu-18.04
      coverage: on
      conanfile: conanfile102.txt
      cc: gcc-7
    'Ubuntu 20.04 LTS with Clang 10 (Debug, x86_64)':
      image: ubuntu-20.04
      analyzer: on
      sanitizer: address,undefined
      cc: clang-10
    'Ubuntu 20.04 LTS with Clang 10 (Debug, x86_64, no security)':
      image: ubuntu-20.04
      sanitizer: address,undefined
      security: off
      cc: clang-10
    'Ubuntu 20.04 LTS with Clang 10 (Release, x86_64, no topic discovery)':
      image: ubuntu-20.04
      build_type: Release
      sanitizer: undefined
      topic_discovery: off
      idlc_testing: off # temporary dislabled because of passing -t option to idlc in this test for recursive types
      cc: clang-10
    'macOS 10.15 with Clang 12 (macOS 10.12, Release, x86_64)':
      image: macOS-10.15
      build_type: Release
      sanitizer: undefined
      macos_deployment_target: '10.12'
      ssl: off
      cc: clang
    'macOS 10.15 with Clang 12 (Debug, x86_64)':
      image: macOS-10.15
      sanitizer: address,undefined
      cc: clang
    'macOS 10.15 with Clang 12 (Release, x86_64)':
      image: macOS-10.15
      build_type: Release
      sanitizer: undefined
      cc: clang
    'Windows 2019 with Visual Studio 2019 (Visual Studio 2017, Debug, x86)':
      arch: x86
      image: windows-2019
      idlc_testing: off
      generator: 'Visual Studio 16 2019'
      toolset: v141
    'Windows 2019 with Visual Studio 2019 (Debug, x86_64)':
      image: windows-2019
      idlc_testing: off
      generator: 'Visual Studio 16 2019'
    'Windows 2019 with Visual Studio 2019 (Release, x86_64)':
      image: windows-2019
      build_type: Release
      idlc_testing: off
      generator: 'Visual Studio 16 2019'
    'Windows 2019 with GCC 10 (Debug, x86_64)':
      image: windows-2019
      build_type: Debug
      idlc_testing: off
      generator: 'MinGW Makefiles'
      cc: 'C:/msys64/mingw64/bin/gcc.exe'
      cxx: 'C:/msys64/mingw64/bin/g++.exe'

pool:
  vmImage: $(image)

variables:
  cyclonedds_uri: '<CycloneDDS><Domain><Internal><EnableExpensiveChecks>rhc,whc</EnableExpensiveChecks><LivelinessMonitoring>true</LivelinessMonitoring></Internal><Tracing><Verbosity>config</Verbosity><OutputFile>stderr</OutputFile></Tracing></Domain></CycloneDDS>'

steps:
  - template: /.azure/templates/build-test.yml
