#
# Copyright(c) 2021 ZettaScale Technology and others
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v. 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Eclipse Distribution License
# v. 1.0 which is available at
# http://www.eclipse.org/org/documents/edl-v10.php.
#
# SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause
#

trigger: [ '*' ]
pr: [ '*' ]


variables:
  cyclonedds_uri: '<CycloneDDS><Domain><Internal><EnableExpensiveChecks>rhc,whc</EnableExpensiveChecks><LivelinessMonitoring>true</LivelinessMonitoring></Internal><Tracing><Verbosity>config</Verbosity><OutputFile>stderr</OutputFile></Tracing></Domain></CycloneDDS>'

jobs:
- job: build_and_test
  displayName: Build and test Cyclone
  pool:
    vmImage: $(image)
  strategy:
    matrix:
      'Ubuntu 22.04 (Release, x86_64)':
        image: ubuntu-22.04
        build_type: Release
        sanitizer: undefined
        cc: gcc
      'Ubuntu 24.04 (Debug, x86_64, Iceoryx)':
        image: ubuntu-24.04
        # No address sanitizer because of this in test run:
        #  Shadow memory range interleaves with an existing memory mapping.
        #  ASan cannot proceed correctly. ABORTING.
        #  ASan shadow was supposed to be located in the [0x00007fff7000-0x10007fff7fff]
        #  range.
        sanitizer: undefined
        iceoryx: on
        cc: gcc
        coverage: on
      'Ubuntu 24.04 (Debug, x86_64, Iceoryx2)':
        image: ubuntu-24.04
        # No address sanitizer because of this in test run:
        #  Shadow memory range interleaves with an existing memory mapping.
        #  ASan cannot proceed correctly. ABORTING.
        #  ASan shadow was supposed to be located in the [0x00007fff7000-0x10007fff7fff]
        #  range.
        sanitizer: undefined
        iceoryx2: on
        cc: gcc
        coverage: on
      'Ubuntu 24.04 (Release, x86_64)':
        image: ubuntu-24.04
        build_type: Release
        sanitizer: undefined
        cc: gcc-14
        cxx: g++-14
      'Ubuntu 24.04 with GCC 12 (Debug, x86_64, security only)':
        image: ubuntu-24.04
        sanitizer: address,undefined
        ssl: off
        lifespan: off
        deadline: off
        type_discovery: off
        topic_discovery: off
        idlc_xtests: off # temporary disabled because of passing -t option to idlc in this test for recursive types
        cc: gcc-12
      'Ubuntu 24.04 with GCC 12 (Debug, x86_64, no tests)':
        image: ubuntu-24.04
        cc: gcc-12
        testing: off
        idlc_xtests: off
      'Ubuntu 24.04 with Clang (Debug, x86_64)':
        image: ubuntu-24.04
        analyzer: on
        sanitizer: address,undefined
        cc: clang
      'Ubuntu 24.04 with Clang (Debug, x86_64, no security)':
        image: ubuntu-24.04
        sanitizer: address,undefined
        security: off
        cc: clang
      'Ubuntu 24.04 with Clang (Release, x86_64, no topic discovery)':
        image: ubuntu-24.04
        build_type: Release
        sanitizer: undefined
        topic_discovery: off
        idlc_xtests: off # temporary disabled because of passing -t option to idlc in this test for recursive types
        cc: clang
      'macOS 14 with Clang (Debug, x86_64)':
        image: macos-14
        sanitizer: address,undefined
        deadline_update_skip: on
        cc: clang
        coverage: on
      'macOS 14 with Clang (Release, x86_64)':
        image: macos-14
        build_type: Release
        sanitizer: undefined
        cc: clang
      'macOS 14 with GCC 14 (Debug, analyzer, x86_64)':
        image: macos-14
        cc: gcc-14
        analyzer: on
      # 32-bit Windows: without SSL/security because Chocolateley only provides 64-bit OpenSSL
      'Windows 2025 with Visual Studio 2022 (Debug, x86, no security)':
        arch: x86
        image: windows-2025
        ssl: off
        security: off
        idlc_xtests: off
        generator: 'Visual Studio 17 2022'
      'Windows 2025 with Visual Studio 2022 (Debug, x86_64)':
        image: windows-2025
        idlc_xtests: off
        generator: 'Visual Studio 17 2022'
      'Windows 2025 with Visual Studio 2022 (Release, x86_64, no tests)':
        image: windows-2025
        build_type: Release
        testing: off
        idlc_xtests: off
        generator: 'Visual Studio 17 2022'
      'Windows 2022 with Visual Studio 2022 (RelWithDebInfo, x86_64)':
        image: windows-2022
        build_type: RelWithDebInfo
        idlc_xtests: off
        generator: 'Visual Studio 17 2022'
      #'Windows 2019 with GCC 10 (Debug, x86_64)':
      #  image: windows-2019
      #  build_type: Debug
      #  idlc_xtests: off
      #  generator: 'MinGW Makefiles'
      #  cc: 'C:/msys64/mingw64/bin/gcc.exe'
      #  cxx: 'C:/msys64/mingw64/bin/g++.exe'
      'Ubuntu 24.04 with default GCC (Release, Iceoryx, Static, x86_64)':
        image: ubuntu-24.04
        idlc_xtests: off
        build_type: Release
        sharedlibs: off
        iceoryx: on

  steps:
    - template: /.azure/templates/build-test.yml

- job: coverage_and_test_report
  displayName: Coverage and Tests Report
  dependsOn: build_and_test
  condition: succeededOrFailed()  # Always run, even when failed tests, because they should be reported in the dasboard of course!
  pool:
    vmImage: ubuntu-22.04
  steps:
  - bash: |
      mkdir coverage
  - task: DownloadPipelineArtifact@2
    inputs:
      path: coverage
    displayName: Download Coverage
  - task: UsePythonVersion@0
  - bash: |
      python -m pip install gcovr --user --upgrade
      ls coverage
      gcovr -a coverage/**/*.json --xml-pretty --output coverage.xml
    displayName: Combine coverage reports
  - task: PublishCodeCoverageResults@1
    displayName: Publish Cobertura Coverage Report
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: coverage.xml

- job: python_binding
  displayName: Python Binding
  pool:
    vmImage: $(image)
  strategy:
    matrix:
      'Test and fuzzing (Ubuntu 24.04 LTS, Clang, Debug)':
        image: ubuntu-24.04
        build_type: Debug
  steps:
    - template: /.azure/templates/python-binding.yml

- job: cxx_binding
  displayName: C++ Binding
  pool:
    vmImage: $(image)
  strategy:
    matrix:
      'Build and test (Ubuntu 22.04 LTS, Clang 18, Debug)':
        image: ubuntu-22.04
        build_type: Debug
  steps:
    - template: /.azure/templates/cxx-binding.yml
