#
# Copyright(c) 2021 ADLINK Technology Limited and others
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v. 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Eclipse Distribution License
# v. 1.0 which is available at
# http://www.eclipse.org/org/documents/edl-v10.php.
#
# SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause
#

trigger: [ '*' ]
pr: [ '*' ]

strategy:
  matrix:
    'Ubuntu 20.04 LTS with GCC 10 (Debug, x86_64)':
      image: ubuntu-20.04
      #analyzer: on  # disabled for now because of warnings
      sanitizer: address
      cc: gcc-10
    'Ubuntu 20.04 LTS with GCC 10 (Release, x86_64)':
      image: ubuntu-20.04
      build_type: Release
      cc: gcc-10
    'Ubuntu 20.04 LTS with GCC 10 (Debug, x86_64, security only)':
      image: ubuntu-20.04
      ssl: off
      lifespan: off
      deadline: off
      type_discovery: off
      sanitizer: address
      cc: gcc-10
    'Ubuntu 18.04 LTS with GCC 7 (Debug, x86_64)':
      image: ubuntu-18.04
      conanfile: conanfile102.txt
      cc: gcc-7
    'Ubuntu 20.04 LTS with Clang 10 (Debug, x86_64)':
      image: ubuntu-20.04
      scan_build: scan-build
      sanitizer: address
      cc: clang-10
    'Ubuntu 20.04 LTS with Clang 10 (Debug, x86_64, no security)':
      image: ubuntu-20.04
      security: off
      sanitizer: address
      cc: clang-10
    'Ubuntu 20.04 LTS with Clang 10 (Release, x86_64)':
      image: ubuntu-20.04
      build_type: Release
      cc: clang-10
    'macOS 10.15 with Clang 12 (macOS 10.12, Release, x86_64)':
      image: macOS-10.15
      build_type: Release
      macos_deployment_target: '10.12'
      ssl: off
      cc: clang
    'macOS 10.15 with Clang 12 (Debug, x86_64)':
      image: macOS-10.15
      sanitizer: address
      cc: clang
    'macOS 10.15 with Clang 12 (Release, x86_64)':
      image: macOS-10.15
      build_type: Release
      cc: clang
    # disabled for now because 32-bit packages are missing
    #'Windows 2019 with Visual Studio 2019 (Visual Studio 2017, Debug, x86)':
    #  arch: x86
    #  image: windows-2019
    #  conanfile: conanfile102.txt
    #  generator: 'Visual Studio 16 2019'
    #  toolkit: v141
    'Windows 2019 with Visual Studio 2019 (Debug, x86_64)':
      image: windows-2019
      #analyzer: off  # disabled for now because of warnings
      generator: 'Visual Studio 16 2019'
    'Windows 2019 with Visual Studio 2019 (Release, x86_64)':
      image: windows-2019
      build_type: Release
      generator: 'Visual Studio 16 2019'

pool:
  vmImage: $(image)

variables:
  cyclonedds_uri: '<CycloneDDS><Domain><Internal><EnableExpensiveChecks>rhc,whc</EnableExpensiveChecks><LivelinessMonitoring>true</LivelinessMonitoring></Internal><Tracing><Verbosity>config</Verbosity><OutputFile>stderr</OutputFile></Tracing></Domain></CycloneDDS>'

steps:
  - template: /.azure/templates/build-test.yml
