<CycloneDDS xmlns="https://cdds.io/config">
  <Domain>
    <General>
      <!-- Transport>udp6</Transport -->
      <MaxMessageSize>1400B</MaxMessageSize>
    </General>
    <Threads>
      <Thread name="recv">
        <Scheduling>
          <Priority>15</Priority>
        </Scheduling>
      </Thread>
      <Thread name="tev">
        <Scheduling>
          <Priority>15</Priority>
        </Scheduling>
      </Thread>
      <Thread name="gc">
        <Scheduling>
          <Priority>15</Priority>
        </Scheduling>
      </Thread>
      <Thread name="dq.builtins">
        <Scheduling>
          <Priority>15</Priority>
        </Scheduling>
      </Thread>
      <Thread name="dq.user">
        <Scheduling>
          <Priority>15</Priority>
        </Scheduling>
      </Thread>
    </Threads>
    <Sizing>
      <ReceiveBufferSize>40KiB</ReceiveBufferSize>
      <ReceiveBufferChunkSize>20KiB</ReceiveBufferChunkSize>
    </Sizing>
    <Internal>
      <MultipleReceiveThreads>false</MultipleReceiveThreads>
    </Internal>
    <Tracing>
      <Verbosity>info</Verbosity>
      <Category>config</Category>
      <OutputFile>stdout</OutputFile>
    </Tracing>
  </Domain>
</CycloneDDS>
